In [ ]:
#Logistic regression

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [1]:
import pandas as pd

In [75]:
whole_dataset_punctuation_cases = pd.read_csv('/Users/suchirnaik/Downloads/Saracasm-Detection-By-TeamErrors-branch_s_pre/whole_dataset_punctuation_cases.csv')

In [76]:
whole_dataset_punctuation_cases = whole_dataset_punctuation_cases[['comment','label']]

In [77]:
whole_dataset_punctuation_cases.dropna(inplace=True)

In [14]:
from sklearn.model_selection import train_test_split

# Assume your dataframe is named `df` and your target variable is in a column named `target`
X = whole_dataset_punctuation_cases.drop(columns=['label'])  # features
y = whole_dataset_punctuation_cases['label']  # target variable

# Split the data into training and testing sets with a 70/30 ratio
X_train_whole_dataset_punctuation_cases, X_test_whole_dataset_punctuation_cases, y_train_whole_dataset_punctuation_cases, y_test_whole_dataset_punctuation_cases = train_test_split(X, y, test_size=0.3, random_state=42)

In [20]:
X_train_whole_dataset_punctuation_cases

                                                  comment
199913             Let's see you shit posters get a life.
73486   yea i'm sure losing tom and bill won't hurt th...
321414  Who says that the art of conversation has been...
760353                                       Roys our Boy
951969  I thought it was a weed snail from the thumbna...
...                                                   ...
259309  Thinking that we need to listen to other peopl...
366025                   It'll just cauterize the butter.
131998     In other news, the Sun rose in the east today.
671562                          and naturally black pete.
122021  Het is gewoon de waarheid hoor, het staat toch...

[707170 rows x 1 columns]

# Testing on the whole dataset (wcwp)

In [7]:
tfidf_vectorizer = TfidfVectorizer()

In [8]:
tfidf_vectorizer

TfidfVectorizer()

In [22]:
X_train_text = X_train_whole_dataset_punctuation_cases['comment'].tolist()

In [23]:
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train_text)

In [24]:
print(X_train_tfidf)

  (0, 65476)	0.37940531775702935
  (0, 45239)	0.27389837337629414
  (0, 88441)	0.6335918462803942
  (0, 102858)	0.3452971998935748
  (0, 129213)	0.17471163501506587
  (0, 101011)	0.31517169671314826
  (0, 65035)	0.3612549628357834
  (1, 3084)	0.19472435554868395
  (1, 6730)	0.20705571323689598
  (1, 114471)	0.22916407908498337
  (1, 53697)	0.37186794081826136
  (1, 127164)	0.29666919652958684
  (1, 11498)	0.37989738962863684
  (1, 4112)	0.14017341284410173
  (1, 116102)	0.4139550802716116
  (1, 66979)	0.39050610848527567
  (1, 111204)	0.23932354033871434
  (1, 128709)	0.30869986350669965
  (2, 66984)	0.3938072980941733
  (2, 10190)	0.29533000136282883
  (2, 50013)	0.26438497463245725
  (2, 23357)	0.4689301381676785
  (2, 80382)	0.16805630484655243
  (2, 6012)	0.4374015999577879
  (2, 114348)	0.122861948790407
  :	:
  (707166, 114348)	0.12626550981230836
  (707167, 97589)	0.453953003133804
  (707167, 110717)	0.419375584902477
  (707167, 33698)	0.39529633595147473
  (707167, 115942)	0.3523561812402132
  (707167, 82145)	0.26645192852924576
  (707167, 77670)	0.34078587436248825
  (707167, 55390)	0.32002097166509014
  (707167, 114348)	0.21929809249336946
  (707168, 76641)	0.602433955403611
  (707168, 85619)	0.6655720570506095
  (707168, 11954)	0.39842623461913806
  (707168, 4112)	0.18799920695948696
  (707169, 124157)	0.36907761353132734
  (707169, 108303)	0.3396440540073365
  (707169, 52728)	0.32340471785751257
  (707169, 115931)	0.29317135026938757
  (707169, 45321)	0.3102104944833457
  (707169, 51320)	0.5120606667099658
  (707169, 77982)	0.2689395372276948
  (707169, 38107)	0.2081909344874965
  (707169, 27212)	0.20958081575474935
  (707169, 81408)	0.1640856426593878
  (707169, 57636)	0.07932971605392042
  (707169, 80382)	0.081446560035169

In [25]:
print(X_train_tfidf.shape)

(707170, 130423)

In [26]:
X_test_text = X_test_whole_dataset_punctuation_cases['comment'].tolist()
X_test_tfidf = tfidf_vectorizer.transform(X_test_text)

In [27]:
lr_model = LogisticRegression()
lr_model.fit(X_train_tfidf, y_train_whole_dataset_punctuation_cases)

/Users/suchirnaik/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
y_pred = lr_model.predict(X_test_tfidf)

In [31]:
y_pred

array([1, 0, 1, ..., 0, 0, 1])

In [39]:
y_pred_df = pd.DataFrame(y_pred, columns=['predicted_label'])

In [30]:
print(classification_report(y_test_whole_dataset_punctuation_cases, y_pred))

              precision    recall  f1-score   support

           0       0.68      0.73      0.70    151360
           1       0.71      0.65      0.68    151713

    accuracy                           0.69    303073
   macro avg       0.69      0.69      0.69    303073
weighted avg       0.69      0.69      0.69    303073

In [33]:
X_test_whole_dataset_punctuation_cases

                                                  comment
373514  I liked the others, Black Flag just stood out ...
582356                                               ayy?
683809  They want to make sure you don't miss a second...
715368  Dare I say it might have something to do with ...
11905   The high level artifacts from skeleton keys ar...
...                                                   ...
605424     Great, now we're spreading autism to Africa...
645782  It's that type of elitism that causes business...
252273             FYI: Skillups for Stella and Isabelle.
107787  This is probably my second favorite comment here.
495377  Seriously, the Mission was so much better when...

[303073 rows x 1 columns]

In [40]:
result_df = pd.concat([X_test_whole_dataset_punctuation_cases.reset_index(drop=True), y_test_whole_dataset_punctuation_cases.reset_index(drop=True), y_pred_df], axis=1)

In [41]:
result_df

,comment,label,predicted_label
0,"I liked the others, Black Flag just stood out ...",0,1
1,ayy?,0,0
2,They want to make sure you don't miss a second...,0,1
3,Dare I say it might have something to do with ...,0,1
4,The high level artifacts from skeleton keys ar...,0,0
...,...,...,...
303068,"Great, now we're spreading autism to Africa...",1,1
303069,It's that type of elitism that causes business...,0,0
303070,FYI: Skillups for Stella and Isabelle.,0,0
303071,This is probably my second favorite comment here.,0,0
303072,"Seriously, the Mission was so much better when...",1,1

In [43]:
accuracy = (result_df["label"] == result_df["predicted_label"]).mean()
print("Sarcastic Accuracy:", accuracy)

Sarcastic Accuracy: 0.6914670722895144

# Testing on sarcastic data only

In [48]:
whole_train_dataset = pd.concat([X_test_whole_dataset_punctuation_cases.reset_index(drop=True), y_test_whole_dataset_punctuation_cases.reset_index(drop=True)], axis=1)

In [54]:
sarcastic_dataset_punctuation_cases = whole_train_dataset[whole_train_dataset['label']==1]

In [58]:
sarcastic_dataset_punctuation_cases

                                                  comment  label
5       [Because he's only half a Norse god, while his...      1
6       Since he has feats for catching the ultimate A...      1
7                                        No, nobody does.      1
8                           Any support VSAA VSAA VRS VRS      1
9                                      Was EU a typo too?      1
...                                                   ...    ...
303061  Don't worry, Trump will bring back all the coa...      1
303064                         No, that was Bushs' fault.      1
303066               Why don't you just get a better job?      1
303068     Great, now we're spreading autism to Africa...      1
303072  Seriously, the Mission was so much better when...      1

[151713 rows x 2 columns]

In [56]:
X_train_sarcastic_dataset_punctuation_cases= sarcastic_dataset_punctuation_cases[['comment']]

In [57]:
Y_train_sarcastic_dataset_punctuation_cases = sarcastic_dataset_punctuation_cases[['label']]

In [60]:
tfidf_vectorizer = TfidfVectorizer()
X_train_text = X_train_sarcastic_dataset_punctuation_cases['comment'].tolist()
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train_text)
lr_model = LogisticRegression()
lr_model.fit(X_train_tfidf, Y_train_sarcastic_dataset_punctuation_cases)
y_pred = lr_model.predict(X_test_tfidf)

/Users/suchirnaik/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1

In [ ]:
#not possible to test only data with only one class

# NCNP

In [64]:
import re

In [65]:
def preprocess_text(text):
    # Remove unnecessary characters(special characters) and convert to lowercase
    text = re.sub(r"[^a-zA-Z0-9]", " ", text).lower()
    return text

In [68]:
whole_dataset_npnc.dtypes

NameError: name 'whole_dataset_npnc' is not defined

In [78]:
whole_dataset_punctuation_cases['processed_comment'] = whole_dataset_punctuation_cases['comment'].apply(preprocess_text)

In [79]:
whole_dataset_npnc = whole_dataset_punctuation_cases[['processed_comment','label']]

In [80]:
whole_dataset_npnc

                                         processed_comment  label
0                                               nc and nh       0
1        you do know west teams play against west teams...      0
2        they were underdogs earlier today  but since g...      0
3        this meme isn t funny none of the  new york ni...      0
4                          i could use one of those tools       0
...                                                    ...    ...
1010768  i m sure that iran and n  korea have the techn...      1
1010769                 whatever you do  don t vote green       1
1010770  perhaps this is an atheist conspiracy to make ...      1
1010771  the slavs got their own country   it is called...      1
1010772  values  as in capitalism    there is good mone...      1

[1010243 rows x 2 columns]

In [81]:
from sklearn.model_selection import train_test_split

# Assume your dataframe is named `df` and your target variable is in a column named `target`
X = whole_dataset_npnc.drop(columns=['label'])  # features
y = whole_dataset_npnc['label']  # target variable

# Split the data into training and testing sets with a 70/30 ratio
X_train_whole_dataset_npnc, X_test_whole_dataset_npnc, y_train_whole_dataset_npnc, y_test_whole_dataset_npnc = train_test_split(X, y, test_size=0.3, random_state=42)

In [83]:
tfidf_vectorizer = TfidfVectorizer()
X_train_text = X_train_whole_dataset_npnc['processed_comment'].tolist()
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train_text)
X_test_text = X_test_whole_dataset_npnc['processed_comment'].tolist()
X_test_tfidf = tfidf_vectorizer.transform(X_test_text)
lr_model = LogisticRegression()
lr_model.fit(X_train_tfidf, y_train_whole_dataset_npnc)
y_pred = lr_model.predict(X_test_tfidf)

/Users/suchirnaik/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [84]:
print(classification_report(y_test_whole_dataset_punctuation_cases, y_pred))

              precision    recall  f1-score   support

           0       0.68      0.73      0.70    151360
           1       0.71      0.65      0.68    151713

    accuracy                           0.69    303073
   macro avg       0.69      0.69      0.69    303073
weighted avg       0.69      0.69      0.69    303073