Import all the necessary modules here:

In [4]:
import pandas as pd

Load the raw datasets:

In [5]:
df = pd.read_csv("../datasets/train-balanced-sarcasm.csv")

Let's understand the meta data pertaining to the data frame:

In [6]:
df.columns

Index(['label', 'comment', 'author', 'subreddit', 'score', 'ups', 'downs',
       'date', 'created_utc', 'parent_comment'],
      dtype='object')

Drop the irrelevant columns

In [7]:
df = df.drop(columns=["author", "subreddit", "score", "downs", "date", "created_utc", "parent_comment"])

In [8]:
df.columns

Index(['label', 'comment', 'ups'], dtype='object')

In [9]:
df.head()

   label                                            comment  ups
0      0                                         NC and NH.   -1
1      0  You do know west teams play against west teams...   -1
2      0  They were underdogs earlier today, but since G...    3
3      0  This meme isn't funny none of the "new york ni...   -1
4      0                    I could use one of those tools.   -1

In [15]:
#rename the up votes to just votes.
df = df.rename(columns={'ups': 'votes'})

In [16]:
df.head()

   label                                            comment  votes
0      0                                         NC and NH.     -1
1      0  You do know west teams play against west teams...     -1
2      0  They were underdogs earlier today, but since G...      3
3      0  This meme isn't funny none of the "new york ni...     -1
4      0                    I could use one of those tools.     -1

Export this final version of the dataframe into main_datasets as:
train_sarcasm.csv

In [17]:
df.to_csv("../main_datasets/train_sarcasm.csv")