In [77]:
import pandas as pd
import numpy as np

In [78]:
data = pd.read_csv('../main_datasets/sarcasm_data.csv')

In [79]:
data

,Unnamed: 0.1,Unnamed: 0,label,comment,votes,sentiment
0,0,0,0,NC and NH.,-1,0
1,1,1,0,You do know west teams play against west teams...,-1,1
2,2,2,0,"They were underdogs earlier today, but since G...",3,0
3,3,3,0,"This meme isn't funny none of the ""new york ni...",-1,0
4,4,4,0,I could use one of those tools.,-1,1
...,...,...,...,...,...,...
1010768,1010821,1010821,1,I'm sure that Iran and N. Korea have the techn...,2,0
1010769,1010822,1010822,1,"whatever you do, don't vote green!",1,1
1010770,1010823,1010823,1,Perhaps this is an atheist conspiracy to make ...,1,1
1010771,1010824,1010824,1,The Slavs got their own country - it is called...,1,1
1010772,1010825,1010825,1,"values, as in capitalism .. there is good mone...",2,1

In [80]:
data = data[['label','comment','votes','sentiment']]

In [81]:
data

,label,comment,votes,sentiment
0,0,NC and NH.,-1,0
1,0,You do know west teams play against west teams...,-1,1
2,0,"They were underdogs earlier today, but since G...",3,0
3,0,"This meme isn't funny none of the ""new york ni...",-1,0
4,0,I could use one of those tools.,-1,1
...,...,...,...,...
1010768,1,I'm sure that Iran and N. Korea have the techn...,2,0
1010769,1,"whatever you do, don't vote green!",1,1
1010770,1,Perhaps this is an atheist conspiracy to make ...,1,1
1010771,1,The Slavs got their own country - it is called...,1,1
1010772,1,"values, as in capitalism .. there is good mone...",2,1

In [82]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
X = data[['votes','sentiment','comment']]
y = data['label']
X

         votes  sentiment                                            comment
0           -1          0                                         NC and NH.
1           -1          1  You do know west teams play against west teams...
2            3          0  They were underdogs earlier today, but since G...
3           -1          0  This meme isn't funny none of the "new york ni...
4           -1          1                    I could use one of those tools.
...        ...        ...                                                ...
1010768      2          0  I'm sure that Iran and N. Korea have the techn...
1010769      1          1                 whatever you do, don't vote green!
1010770      1          1  Perhaps this is an atheist conspiracy to make ...
1010771      1          1  The Slavs got their own country - it is called...
1010772      2          1  values, as in capitalism .. there is good mone...

[1010773 rows x 3 columns]

In [83]:
vectorizer = TfidfVectorizer()
X_transformed = vectorizer.fit_transform(X["comment"].values)

In [84]:
X_transformed

<1010773x167435 sparse matrix of type '<class 'numpy.float64'>'
	with 9548157 stored elements in Compressed Sparse Row format>

In [85]:
X_continous = data.drop(columns=["comment", "label"], axis=1)
X_continous

         votes  sentiment
0           -1          0
1           -1          1
2            3          0
3           -1          0
4           -1          1
...        ...        ...
1010768      2          0
1010769      1          1
1010770      1          1
1010771      1          1
1010772      2          1

[1010773 rows x 2 columns]

In [86]:
if X_continous.dtypes.apply(lambda x: np.issubdtype(x, np.number)).all():
    X_continous_matrix = X_continous.to_numpy()
else:
    X_continous_matrix = pd.get_dummies(X_continous).to_numpy()

X_continous_matrix

array([[-1,  0],
       [-1,  1],
       [ 3,  0],
       ...,
       [ 1,  1],
       [ 1,  1],
       [ 2,  1]], dtype=int64)

In [87]:
from scipy.sparse import hstack


X = hstack([X_transformed, X_continous_matrix])

In [89]:
X

<1010773x167437 sparse matrix of type '<class 'numpy.float64'>'
	with 11120125 stored elements in COOrdinate format>

In [88]:
y

0          0
1          0
2          0
3          0
4          0
          ..
1010768    1
1010769    1
1010770    1
1010771    1
1010772    1
Name: label, Length: 1010773, dtype: int64

In [33]:
X_train, X_test, y_train,y_test = train_test_split(X, y, test_size = 0.4, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [3, 1010773]

In [21]:
X_train = [a + [b] for a, b in zip(X_train[['votes', 'sentiment']].values.tolist(), X_train_tfidf)]

In [22]:
X_train = [a + [b] for a, b in zip(np.array(X_train)[:, [0, 1]].tolist(), X_train_tfidf)]

In [ ]:
X_test = [a + [b] for a, b in zip(X_test[['votes', 'sentiment']].values.tolist(), X_test_tfidf)]

In [23]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

ValueError: setting an array element with a sequence.